/* * {    border-style: solid;} */


:root {
    --primary-color: #4CAF50;
    /* Green */
    --secondary-color: #FF9800;
    /* Orange */
    --accent-color: #2196F3;
    /* Blue */
    --text-color: black;
    /* Dark Gray */
    --background-color: white;
    /* Light Gray */
    --pagebg: rgba(0, 0, 0, 0.546);
}




@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        /* Dark Gray */
        --background-color: rgb(0, 0, 0);
        /* Light Gray */
        --pagebg: rgba(255, 255, 255, 0.281);
    }

    
}




a {
    color: inherit;
    /* Inherits the color from the parent element's text color */
    text-decoration: none;
    /* Removes the underline */
    cursor: auto;
    /* Changes the cursor from a hand pointer back to the default arrow */
}

html,
body {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
}

#bgimage {
    position: fixed;
    z-index: 0;
    width: fit-content;

}

#bgimage img {
    position: fixed;
    z-index: 0;
    min-width: 100%;
    height: 100vh;
    filter: blur(4px);
}

#Details {
    padding-top: 50px;
}

@media (prefers-color-scheme: dark) {
    #bgimage img {

        filter: hue-rotate(180deg) invert();
    }
}

#content {
    z-index: 1;
}

#page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h5 {
    margin: 0px;
}

#scroll {
    opacity: 0;
    height: 4vh;
    aspect-ratio: 1;
    border-radius: 4px;
    padding: 5px;
    transition: all 0.2s ease-in-out;

}

html:has(#scrollanc:hover) #scroll {
    opacity: 1;
}

html:has(#nameAndProfile:hover) #scroll {
    opacity: 1;
    filter: invert();
    backdrop-filter: blur(10px);
    background-color: var(--pagebg);
}

#scroll:hover {
    filter: invert();
    backdrop-filter: blur(10px);
    background-color: var(--pagebg);

}

#scrollanc {
    padding: 20px;
    height: fit-content;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (prefers-color-scheme: dark) {
    #scroll {
        filter: invert();
    }

    #scroll:hover {
        filter: none;
        backdrop-filter: blur(10px);
        background-color: var(--pagebg);

    }

    html:has(#nameAndProfile:hover) #scroll {
        opacity: 1;
        filter: none;
        backdrop-filter: blur(10px);
        background-color: var(--pagebg);
    }
}

#nav {
    backdrop-filter: blur(10px);
    background-color: var(--pagebg);
    position: fixed;
    width: 100%;
    font-size: 0px;
    z-index: 4;
    height: fit-content;

    color: var(--background-color);
    transition: all 0.2s ease-in-out;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: medium;
    padding: 2px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}



.link {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    margin: 2px;

    transition: all 0.2s ease-in-out;
}

.link:hover {

    color: var(--text-color);
    background-color: var(--background-color);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}


#links {
    flex-wrap: wrap;
    display: flex;
    height: min-content;

}



#extend {
    font-size: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}



#main {
    z-index: 0;
    padding: 10px;

}

#brief {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: center;
}

#nameAndProfile {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;


}



#profile {
    border-radius: 50%;
    aspect-ratio: 1;
    height: 200px;
    border-style: solid;
}



.skill {
    z-index: 0;
    width: 90px;
    aspect-ratio: 3/4;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    margin: 2px;

}

.skill:hover {
    z-index: 1;
    backdrop-filter: blur(10px);
    background-color: var(--pagebg);
    color: var(--background-color);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}



#Skilldiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




#skillbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    padding: 10px;
}

.icon {
    width: 90px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.iconContainer {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edu {
    padding: 20px;
    min-height: 100px;
    display: flex;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    text-align: center;
}

.edu:hover {
    backdrop-filter: blur(10px);
    background-color: var(--pagebg);
    color: var(--background-color);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#EduDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.eduDes {
    margin: 10px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

#edubox {
    display: grid;
    /* Creates columns that are a minimum of 300px wide. 
     If space is available, it wraps and fills the container equally (1fr). */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

#Experience {
    display: none;
}